body {
    margin: 0;
    background: #f0f5ff;
    color: #293246;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
    padding: 20px;
}

/* 全体 */
.app {
    height: 100dvh;
    /* スマホのキーボード等を考慮した高さ */
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 600px;
    margin: 15px auto 0 auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

/* ヘッダー */
.header {
    height: 18%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

h1 {
    letter-spacing: -0.125em;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 5%;
    margin-bottom: auto;
}

h1 span {
    color: #317ba1;
}

.count {
    font-size: 20px;
    display: flex;
    align-items: baseline;
    gap: 4px;
    margin: 5px 5px 5px auto;
}

.can {
    color: #293246;
    font-size: 2.0rem;
    line-height: 2.5rem;
}

.total {
    color: #94a3b8;
    font-size: 1.5rem;
}

.srash {
    color: #94a3b8;
    vertical-align: 10%;

}

/* ソート */
.sort {
    display: flex;
    background: #29324680;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: fit-content;
}

.sort button {
    border: none;
    background: transparent;
    color: #f1f7ff;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.sort button.active {
    background: white;
    color: #293246;
}

.sort button.purple.active {
    background: #6366f1;
    color: white;
}

.sort button.green.active {
    background: #10b981;
    color: white;
}

/* 入力 */
.input-box {
    display: flex;
    gap: 10px;
    background: #293246;
    border: 1px solid #ffffff1a;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.input-box input {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    outline: none;
}

.input-box button {
    background: white;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
}

/* リスト */
.list {
    overflow-y: scroll;
    flex: 1;
}

/* カード */
.card {
    background: #ebffe7;
    border: 1px solid #ffffff0d;
    padding: 6px 10px;
    border-radius: 15px;
    margin-bottom: 6px;
}

.card.done {
    background: #10b9811a;
    border-color: #10b9814d;
}

/* 行 */
.card-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid #5b5b5b;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.done .checkbox {
    background: #29e7a8;
    color: #5b5b5b;
}

/* テキスト */
.content {
    flex: 1;
}

.text {
    font-weight: 600;
}

.card.done .text {
    color: rgb(112 166 148);
}

.date {
    font-size: 10px;
    color: #5b5b5b;
}

/* 削除 */
.delete {
    background: none;
    border: none;
    color: #5b5b5b;
    cursor: pointer;
}

.delete:hover {
    color: #f43f5e;
}

/* タグ */
.tags {
    margin-top: 10px;
    padding-left: 34px;
}

.tag {
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

/* タグ色 */
.tag-blue {
    background: #3b82f633;
    color: #60a5fa;
}

.tag-purple {
    background: #a855f733;
    color: #c084fc;
}

.tag-rose {
    background: #f43f5e33;
    color: #fb7185;
}

.tag-amber {
    background: #ffbf1d33;
    color: #e0a205;
}

/* タグ入力 */
.tag-input {
    background: #d4e0f6;
    border: none;
    color: #4c4c4c;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    width: 60px;
}

/* タグ追加 */
.tag-add {
    font-size: 10px;
    color: #5b5b5b;
    background: none;
    border: none;
    cursor: pointer;
}

.tag-add:hover {
    color: #cbd5f5;
}

/* スクロールバー */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5b5b5b5b;
    border-radius: 10px;
}

/* フッター　　*/
.last {
    color: #5b5b5b;
    position: sticky;
    text-align: center;
    padding: 5px 0 3px;
    letter-spacing: 0.3px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
}
